@model Notes_MarketPlace.Models.UserProfileModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<section id="user-profile">
    <div class="c-up">
        <img src="~/Content/User-Profile/banner-with-overlay.jpg" width="100%" class="img-responsive">

        <div class="text-up">
            <h3>User Profile</h3>
        </div>
    </div>
    <div class="content-box-up">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="up-heading">
                        <p>Basic Profile Details</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-mar">
                    <form>
                        <div class="form-group s3">
                            <label for="exampleInputName">First Name<span>&#42;</span></label>
                            <input type="name" class="form-control" placeholder="Enter your first name">
                        </div>

                        <div class="form-group s3">
                            <label for="exampleInputEmail1">Email<span>&#42;</span></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address">
                        </div>

                        <div class="form-group s3">
                            <label for="name">Gender</label><br>
                            <input type="menu" class="form-control  gender-menu" placeholder="Enter your gender ">

                        </div>
                        <div class="form-group s3">
                            <label for="name">Profile Picture</label>

                            <div class="img-box">
                                <div class="content-img">
                                    <img src="../Front_Images/images/upload-file.png" class="img-responsive">
                                    <h4>Upload a picture</h4>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">

                    <form>
                        <div class="form-group s3">
                            <label for="exampleInputName">Last Name<span>&#42;</span></label>
                            <input type="name" class="form-control" placeholder="Enter your last name">
                        </div>

                        <div class="form-group s3">
                            <label for="exampleInputEmail1">Date of Birth<span>&#42;</span></label>
                            <input type="email" class="form-control bdy-symbol" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your date of Birth">
                        </div>

                        <div class="form-group s3">
                            <label for="number">Phone Number</label>

                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-xs-3 box-number">

                                    <h4>+91</h4>

                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-9">
                                    <input type="name" class="form-control" placeholder="Enter your phone number">
                                </div>
                            </div>
                        </div>


                    </form>

                </div>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="up-heading">
                        <p>Address Details</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group s3">
                        <label for="exampleInputName">Address Line 1<span>&#42;</span></label>
                        <input type="name" class="form-control" placeholder="Enter your Address">
                    </div>

                    <div class="form-group s3">
                        <label for="exampleInputName">City<span>&#42;</span></label>
                        <input type="name" class="form-control" placeholder="Enter your city">
                    </div>

                    <div class="form-group s3">
                        <label for="exampleInputName">ZipCode<span>&#42;</span></label>
                        <input type="name" class="form-control" placeholder="Enter your zipcode">
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group s3">
                        <label for="exampleInputName">Address Line 2<span>&#42;</span></label>
                        <input type="name" class="form-control" placeholder="Enter your Address">
                    </div>

                    <div class="form-group s3">
                        <label for="exampleInputName">State<span>&#42;</span></label>
                        <input type="name" class="form-control" placeholder="Enter your state">
                    </div>

                    <div class="form-group s3">
                        <label for="exampleInputName">Country<span>&#42;</span></label>
                        <input type="name" class="form-control gender-menu" placeholder="Select your country">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="up-heading">
                        <p>University and College Information</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group s3">
                        <label for="exampleInputName">University </label>
                        <input type="name" class="form-control" placeholder="Enter your university">
                    </div>
                    <button type="submit" class="btn btn-primary btn-up"><span>SUBMIT</span></button>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group s3">
                        <label for="exampleInputName">College </label>
                        <input type="name" class="form-control" placeholder="Enter your college">
                    </div>

                </div>
            </div>
        </div>
    </div>
