@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section id="home-page">

    <div class="home-bg">
        <img src="~/Content/home/banner-with-overlay.jpg" id="home-img" width="100%">

        <div class="container">
            <div class="home-text">

                <h3>Download Free/Paid Notes<br> or Sale your Book</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ad.<br> Hic facere necessitatibus dolorum natus vel dolores nam </p>

                <div class="btn-home-1 btn">
                    <a href="~/FAQ">
                        <p>LEARN MORE</p>
                    </a>
                </div>

            </div>
        </div>
    </div>





    <div class="content-box-home">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="heading-topic-home">
                        <h3>About<br>NotesMarketPlace</h3>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 about-notes col-xs-12">
                    <p>Lorem ipsum dolor sit amet, consectetLorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati delectus, praesentium amet esse eius assumenda doloremqueur adipisicing elit. Obcaecati delectus, praesentium amet esse eius assumenda dolore quo consequatur nihil natus<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati delectus, praesentium amet esse eius assumenda doloremqueadipisicing elit. Obcaecati delectus, praesentium amet esse eius assumenda doloremque.</p>
                </div>
            </div>
        </div>


    </div>
    <div class="cont-box-bg">
        <div class="content-box-work">
            <div class="container">
                <div class="row">
                    <div class="heading-topic-home text-center">
                        <div class="col-xs-12">
                            <h3>How it Works</h3>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-2">
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="works-img">
                            <img src="~/Content/Front_Images/images/download.png" class="img-responsive">
                        </div>
                        <div class="works-text text-center">
                            <h4>Download Free/Paid Notes</h4>
                            <p>Get Material for your<br> Cource etc.</p>

                            <button type="button" class="btn btn-primary btn-works"><span>DOWNLOAD</span></button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="works-img">
                            <img src="~/Content/Front_Images/images/seller.png" class="img-responsive img-circle">
                        </div>
                        <div class="works-text text-center">
                            <h4>Seller</h4>
                            <p>Upload and Download Cource and Materials etc.</p>

                            <button type="button" class="btn btn-primary btn-works"><span>SELL BOOK</span></button>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box-customer">
        <div class="container">
            <div class="row">
                <div class="heading-topic-customer text-center">
                    <div class="col-xs-12">
                        <h3>What our Customers are Saying</h3>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 customer">
                    <div class="row customer-infof">
                        <div class="col-md-3 col-sm-3 col-xs-5">
                            <img src="~/Content/Front_Images/images/customer-1.png" class="img-responsive img-circle">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-7">
                            <div class="customer-info">
                                <h4>Walter Meller</h4>
                                <p>Founder <span>&#38</span> CEO, Matrix Group</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 customer-info1">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ipsum incidunt, repudiandae fuga, accusantium nisi eligendi a sit iure accusamus doloremque architecto mollitia aperiam. Maiores sequi at molestias aliquid laboriosam."</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 customer c-4 c-3">
                    <div class="row customer-infof">
                        <div class="col-md-3 col-sm-3 col-xs-5">
                            <img src="~/Content/Front_Images/images/customer-2.png" class="img-responsive img-circle">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-7">
                            <div class="customer-info">
                                <h4>Jonnie Riley</h4>
                                <p>Employee, Curious Snakcs</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 customer-info1">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ipsum incidunt, repudiandae fuga, accusantium nisi eligendi a sit iure accusamus doloremque architecto mollitia aperiam. Maiores sequi at molestias aliquid laboriosam."</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 customer">
                    <div class="row customer-infof">
                        <div class="col-md-3 col-sm-3 col-xs-5">
                            <img src="~/Content/Front_Images/images/customer-3.png" class="img-responsive img-circle">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-7">
                            <div class="customer-info">
                                <h4>Amilia Luna</h4>
                                <p>Teacher, Saint joseph High School</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 customer-info1">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ipsum incidunt, repudiandae fuga, accusantium nisi eligendi a sit iure accusamus doloremque architecto mollitia aperiam. Maiores sequi at molestias aliquid laboriosam."</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 customer c-4">
                    <div class="row customer-infof">
                        <div class="col-md-3 col-sm-3 col-xs-5">
                            <img src="~/Content/Front_Images/images/customer-4.png" class="img-responsive img-circle">
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-7">
                            <div class="customer-info">
                                <h4>Daniel Cardos</h4>
                                <p>Software Engineer, Infinitum Company</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 customer-info1">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ipsum incidunt, repudiandae fuga, accusantium nisi eligendi a sit iure accusamus doloremque architecto mollitia aperiam. Maiores sequi at molestias aliquid laboriosam."</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

    