


@{
    ViewBag.Title = "Search Note";
    Layout = "~/Views/Shared/_Layout_Without_Home.cshtml";
}

<section id="user-profile">
    <div class="c-up">
        <img src="~/Content/User-Profile/banner-with-overlay.jpg" width="100%" class="img-responsive">

        <div class="text-up">
            <h3>Search Notes</h3>
        </div>
    </div>

    <div class="content-box-search-note">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="headig-topic-search-note">
                        <h4>Search and Filter notes</h4>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="inner-box-search-note">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-box">
                                <input type="name" placeholder="Search notes here..." class="form-control">
                            </div>
                        </div>

                        <div class="row main-box">
                            <div class="col-md-2 space-search col-sm-4 col-xs-5">
                                <div class="input-box1">
                                    <input type="name" placeholder="Select type" class="gender-menu form-control">
                                </div>

                            </div>

                            <div class="col-md-2 space-search col-sm-4 col-xs-5">
                                <div class="input-box1">
                                    <input type="name" placeholder="Select type" class="gender-menu form-control">
                                </div>
                            </div>

                            <div class="col-md-2 space-search col-sm-4 col-xs-6">
                                <div class="input-box1">
                                    <input type="name" placeholder="Select university" class="gender-menu form-control">
                                </div>
                            </div>



                            <div class="col-md-2 space-search col-sm-4 col-xs-5">
                                <div class="input-box1">
                                    <input type="name" placeholder="Select course" class="gender-menu form-control">
                                </div>
                            </div>

                            <div class="col-md-2 space-search col-sm-4 col-xs-5">
                                <div class="input-box1">
                                    <input type="name" placeholder="Select country" class="gender-menu form-control">
                                </div>
                            </div>

                            <div class="col-md-2 space-search col-sm-4 col-xs-5">
                                <div class="input-box1">
                                    <input type="name" placeholder="Select rating" class="gender-menu form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box-search-note">

        <div class="container">
            <div class="row">
                <div class="headig-topic-search-note">
                    <div class="col-xs-12">
                        <h4>Total 18 Notes</h4>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search1.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>Computer Operating System - Final Exam Book With Paper Solution</h4>
                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search2.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>Computer Science</h4>

                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-xs-4 col-sm-6">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star-white.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-xs-8 col-sm-6">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search3.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12 col-sm-12">
                                    <h4>Basic Computer Engineering Tech India Publication Series</h4>
                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star-white.png">
                                        <img src="../Front_Images/images/star-white.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>








            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search4.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>Computer Science Illuminted - Seventh Edition</h4>
                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search5.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>The Principles of Computer Hardware - Oxford</h4>

                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star-white.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search6.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>The Computer Book</h4>
                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star-white.png">
                                        <img src="../Front_Images/images/star-white.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>








            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search1.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>Computer Operating System - Final Exam Book With Paper Solution</h4>
                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search2.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>Computer Science</h4>

                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star-white.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="each-box-for-col">
                        <img src="~/Content/Front_Images/images/search3.png" class="img-responsive" width="100%">

                        <div class="inner-each-note">
                            <div class="row q1">
                                <div class="col-md-12">
                                    <h4>Basic Computer Engineering Tech India Publication Series</h4>
                                </div>

                            </div>
                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/university.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>University of California, US</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/pages.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>204 Pages</p>
                                </div>
                            </div>

                            <div class="row q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/calendar.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>Thu, Nov 26 2020</p>
                                </div>
                            </div>

                            <div class="row marked-review q2">
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <img src="../Front_Images/images/flag.png" class="img-responsive">
                                </div>
                                <div class="col-md-10 col-sm-8 col-xs-8">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>

                            <div class="row star-size">
                                <div class="col-md-5 col-sm-6 col-xs-4">
                                    <div class="star-img">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star.png">
                                        <img src="../Front_Images/images/star-white.png">
                                        <img src="../Front_Images/images/star-white.png">
                                    </div>


                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-8">
                                    <p>100 Reviews</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>








            </div>

        </div>

    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li class="page-item"><a class=" active page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="fa fa-angle-right"></i>

                </a>
            </li>
        </ul>
    </nav>












